.formFilme {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    row-gap: 0.5rem;
}
.campoFilme {
    display: flex;
    flex-direction: column;
}
.colunasFilme {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
}
.colunasFilme > div {
    flex-grow: 1;
}
.formFilme input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #999;
}

.botao2 {
        margin: 14px;
        padding: 8px;
        color: white;
        background-color: #0085FF;
        border-radius: 8px;
        border-color: #0085FF;
}

.espaco input{
    height: 200px;
}

.novoFilme {
    padding: 1rem;
}