.fotoFilme {
    border-radius: 22px;
    width: 239px;
    height: 250px;
    margin: 20px 13px;
    padding:0px;
}

.descricaoBalao {
    color: #7B7B7B;
    font-family: 'Inter', sans-serif;
    display: flex;
}


.balao {
    background-color: #ebebeb;
    border-radius: 22px;
    padding: 31px;
    margin: 13px 24px;
    width: 100%;
}

.balaoFoto {
    display: flex;
    flex-direction: row;
}

.tudo {
    background-color: #ffff;
    width: 80%;
    margin: 25px auto;
    margin-bottom: 81px;
}

.linhaHorizontal {
    background-color: #EDAF0F;     
    margin: 15px 0;
}

.naLinha {
    display: inline-block;     
    width: 121px;     
    background-color: white;     
    margin-left: 35px;
}

.naLinha1 {
    display: inline-block;
    width: 217px;
    background-color: white;
    margin-left: 35px
}

.fonte {
    font-family: 'Inter', sans-serif;
    padding: 0 0 15px 0;
}

.fonte1 {
    font-family: 'Inter', sans-serif;
    padding: 0 0 15px 0;
}

.fonte2 {
    font-family: 'Inter', sans-serif;
}
