footer {
    background-color: #EDAF0F;
    padding: 3em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list li:hover {
    color:#fff;
}

.direitos {
    font-family: 'Inter', sans-serif;
}


