.foto {
    border-radius: 22px;
    width:100%;
    height:200px;
    padding:7px;
}

.cardFilmes {
    width: 139px;
    margin: 5px;
}

.titulo {
    padding: 0 0 0 15px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    text-decoration: none !important;
    color: black;
}

.ano {
    padding: 0 0 0 15px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.lista {
    display: flex;
    flex-wrap: wrap;
}

.linkFilme {
    text-decoration: none;
}

.titulo:hover {
    color: #EDAF0F;
}